# Build results
bin/
obj/

# Rider
.idea/

# Visual Studio
.vs/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# ReSharper
_ReSharper*/
*.DotSettings.user

# NuGet
packages/
*.nupkg

# OS files
.DS_Store
Thumbs.db
